@import "nib";

*, *::before, *::after
    box-sizing border-box

body
    margin 0
    font-size 16px
    font-family "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif

    color #234
    background-color #fafeff

#messageInput
    width 20em
    padding 8px
    margin 8px
    border 1px solid #aaa
    border-radius 4px

#messageList
    margin 0
    margin-left 16px
    padding 0

.message
    margin 0
    margin-bottom 8px
    list-style none

    &-says
        color #aaa
        font-size 12px

    &-body
        line-height 1
