doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    title Socket.io

    script(src="/socket.io/socket.io.js")
    script
        :js
            addEventListener("DOMContentLoaded", () => {
                "use strict";
                const socket = io();
            });
body
