doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    title Chat example

    script(src="/static/scripts/socket.js")
    link(rel="stylesheet", href="/static/styles/socket.css")
body
    input#messageInput(type="text" placeholder="Put message")
    ul#messageList
