doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Upload test
        
    body
        form(enctype="multipart/form-data" method="post")
            input(type="file" name="file")
            br
            input(type="file" name="file")
            br
            input(type="text" name="text")
            button Upload
