doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title= title
        style.
            * {
                box-sizing: border-box;
            }
            html, body {
                margin: 0;
                padding: 0;
            }
            header {
                padding: 16px 16px;

                font-family: "Trebuchet MS", sans-serif;
                line-height: 1;

                color: #e8eaf6;
                background-color: #303f9f;
            }
            
            .container {
                padding: 0 32px;
            }
    body
        header maya.js
        
        block content
